/* You can add global styles to this file, and also import other style files */
.Navigation{

	font-size: 30px;
	margin-left: 15.4cm;
}

hr{

    margin-top: -.1cm;
	border: 1px solid black;
	width: 7cm
}
