<!DOCTYPE html>
<html>
<body>
  <table>
    <tbody>
    <tr>
      <th>Name</th>
      <td>{{Crud.Name}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{Crud.Email}}</td>
    </tr>

    <tr>
      <th>Mobile</th>
      <td>{{Crud.Mobile}}</td>
    </tr>

    <tr>
      <th>Address</th>
      <td>{{Crud.Address}}</td>
    </tr>

    <tr>
      <th>Action</th>
      <td>
         <a href= 'list' class= "btn btn-primary btn-md">Back <span class = "glyphicon glyphicon-arrow-left"></span></a>
      </td>
    </tr>

    </tbody>
  </table>  
</body>
</html>