form{

    margin-left: 10cm;
    font-family: arial; 
    font-size: 15px;
}
.form-control{

    margin-left: 3cm; 
}
.btn{

    cursor: pointer;
    margin-left: 3.5cm;
}
h2{

    margin-bottom: .5cm;
    margin-left: 3cm
}
label {
    
    font-size: 120%;
    margin-left: 3cm;
    margin-top: -3.9cm;    
}